.idea/
.vscode/
.directory
.DS_Store
dist/
build/
zipped/
tmp-build/
node_modules/
/vendor/
/fullworks-simple-setup-for-amazon-ses/vendor/
/fullworks-simple-setup-for-amazon-ses/composer.lock
/fullworks-simple-setup-for-amazon-ses/includes/vendor/
.phpunit.result.cache
*.phpunit.result.cache
.wp-env.override.json
.env
.env.*
!.env.example
*.log
__pycache__/
# repository specific
*.swp
*.swo
*~
vendor/
fullworks-simple-setup-for-amazon-ses/vendor/
*.zip
wordpress/
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
